//primary
$cyan: #2acfcf;
$dark-violet: hsl(257, 27%, 26%);

//secondary
$red: hsl(0, 87%, 67%);

//neutral
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);